#boards {
    background-color: green;
}

#logout-link, #login-link, #register-link {
    text-decoration: none;
    color: rgba(255,255,255,.5);
}

#logout-link:hover, #login-link:hover, #register-link:hover {
    color: rgba(255,255,255,.75);
}

#proman-logo {
    color: white;
}

.snow {
    background-color: #F9F9F9;
}

.platinum {
    background-color: #EEE4E1;
}

.white {
    background-color: #ffffff;
}

.card-height{
    min-height: 20rem;
}