<!-- Modal -->
<div class="modal fade" id="archivedCards" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="archivedCardsTitle">List of archived cards</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="w-75">Card title</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="input">
                    <button type="button" class="btn btn-secondary order-2" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
