<div class="container">
    <div class="row">
        <div class="col-sm text-center m-1 p-0">
            <div class="card shadow-sm">
                <div class="card-header">
                    New
                </div>
                <div class="card-body card-container-body" id="col-1">
                    Cards go here
                </div>
            </div>
        </div>
        <div class="col-sm text-center m-1 p-0">
            <div class="card shadow-sm">
                <div class="card-header">
                    In progress
                </div>
                <div class="card-body card-container-body" id="col-2">
                    Cards go here
                </div>
            </div>
        </div>
        <div class="col-sm text-center m-1 p-0">
            <div class="card shadow-sm">
                <div class="card-header">
                    Testing
                </div>
                <div class="card-body card-container-body" id="col-3">
                    Cards go here
                </div>
            </div>
        </div>
        <div class="col-sm text-center m-1 p-0">
            <div class="card shadow-sm">
                <div class="card-header">
                    Done
                </div>
                <div class="card-body card-container-body" id="col-4">
                    Cards go here
                </div>
            </div>
        </div>
    </div>
</div>