<div class="container">
    <div class="mb-3">
        <button id="newCardButton" type="button" class="btn btn-outline-secondary">Add new card</button>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <div class="card shadow-sm">
                <div class="card-header">
                    New
                </div>
                <div class="card-body" data-col="1">
                    Cards go here
                </div>
            </div>
        </div>
        <div class="col-sm text-center">
            <div class="card shadow-sm">
                <div class="card-header">
                    In progress
                </div>
                <div class="card-body" data-col="2">
                    Cards go here
                </div>
            </div>
        </div>
        <div class="col-sm text-center">
            <div class="card shadow-sm">
                <div class="card-header">
                    Testing
                </div>
                <div class="card-body" data-col="3">
                    Cards go here
                </div>
            </div>
        </div>
        <div class="col-sm text-center">
            <div class="card shadow-sm">
                <div class="card-header">
                    Done
                </div>
                <div class="card-body" data-col="4">
                    Cards go here
                </div>
            </div>
        </div>
    </div>
</div>
