<div class="container">
    {% raw %}
    <div class="row">
        <div class="mb-3 ml-1">
            <button id="newCardButton" type="button" class="btn btn-outline-secondary mr-1"><i class="fa fa-plus-circle"></i> New Card</button>
            <button id="archiveCardButton" type="button" class="btn btn-outline-secondary ml-1" data-board_id="{{ id }}" data-toggle="modal" data-target="#archivedCards"><i class="fa fa-archive"></i> Show archived cards</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center m-1 p-0">
            <div class="card shadow-sm card-height">
                <div class="card-header font-weight-bold platinum">
                    New
                </div>
                <div class="card-body card-container-body snow proman-status" id="col-1" data-col="1">

                </div>
            </div>
        </div>
        <div class="col-sm text-center m-1 p-0">
            <div class="card shadow-sm card-height">
                <div class="card-header font-weight-bold platinum text-truncate">
                    In progress
                </div>
                <div class="card-body card-container-body snow proman-status" id="col-2" data-col="2">
                </div>
            </div>
        </div>
        <div class="col-sm text-center m-1 p-0">
            <div class="card shadow-sm card-height">
                <div class="card-header font-weight-bold platinum">
                    Testing
                </div>
                <div class="card-body card-container-body snow proman-status" id="col-3" data-col="3">
                </div>
            </div>
        </div>
        <div class="col-sm text-center m-1 p-0">
            <div class="card shadow-sm card-height">
                <div class="card-header font-weight-bold platinum">
                    Done
                </div>
                <div class="card-body card-container-body snow proman-status" id="col-4" data-col="4">
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
</div>
