{% raw %}
<script id="board-template" type="text/x-handlebars-template">
    <div class="shadow-sm card mb-4" id="board-{{id}}">
        <div class="card-header">
            <div class="row">
                <h5 class="col pt-1">{{title}}</h5>
                <a class="btn" data-toggle="collapse" href="#dropdown-board-{{id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="collapse" id="dropdown-board-{{id}}">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm text-center">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    New
                                </div>
                                <div class="card-body">
                                    Cards go here
                                </div>
                            </div>
                        </div>
                        <div class="col-sm text-center">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    In progress
                                </div>
                                <div class="card-body">
                                    Cards go here
                                </div>
                            </div>
                        </div>
                        <div class="col-sm text-center">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    Testing
                                </div>
                                <div class="card-body">
                                    Cards go here
                                </div>
                            </div>
                        </div>
                        <div class="col-sm text-center">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    Done
                                </div>
                                <div class="card-body">
                                    Cards go here
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
{% endraw %}