{% raw %}
<script id="board-template" type="text/x-handlebars-template">
    <div class="shadow card mb-4 border-0" id="board-{{id}}">
        <div class="card-header platinum">
            <div class="row">
                <h5 class="col pt-1">{{title}}</h5>
                <a class="btn" id="dropdown-control" data-toggle="collapse" href="#dropdown-board-{{id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-chevron-down" id="chevron"></i>
                </a>
            </div>
        </div>
        <div class="collapse" id="dropdown-board-{{id}}">
            <div class="card-body white">
            {% endraw %}
            {% include 'board-body.html' %}
            {% raw %}
            </div>
        </div>
    </div>
</script>
{% endraw %}