{% raw %}
<script id="card-template" type="text/x-handlebars-template">
    <div class="card-container proman-card" draggable="true">
        <div id="card-{{ id }}" class="card" data-id="{{ id }}" data-board_id="{{board_id}}" data-status_id="{{status_id}}" data-order="{{order}}" data-user_id="{{ user_id }}">
            <div class="card-dismiss d-flex justify-content-end mt-2 mr-2"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
            <div class="card-body float-left">
                <h5 class="card-title text-left text-align-top">{{ title }}</h5>
            </div>
        </div>
    </div>
</script>
{% endraw %}
